@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:wght@700&display=swap');
@import 'header.scss';
@import 'hero.scss';
@import 'services.scss';
@import 'description_section.scss';
@import 'testimonials.scss';
@import 'latest_posts.scss';
@import 'footer.scss';
@import 'responsive.scss';
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
section {
	overflow-x: hidden;
}
.site-main {
	max-width: 1600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.container {
	max-width: 1408px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.d-flex {
	display: flex;
}
.justify-content-between {
	justify-content: space-between;
}
.align-items-center {
	align-items: center;
}

.btn {
	width: 200px;
	max-width: 100%;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Popins', sans-serif;
	color: #458ff6;
	border: 1px solid #458ff6;
	border-radius: 55px;
	cursor: pointer;
	text-decoration: none;
	&.primary {
		background-color: #458ff6;
		color: #fff;
	}
	&.download {
		position: relative;
		&:after {
			content: '';
			background-image: url('../../img/download_arrow.png');
			background-repeat: no-repeat;
			background-size: contain;
			width: 11px;
			height: 16px;
			margin-left: 5px;
		}
	}
}
.section_title {
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	line-height: 56px;
	color: #000;
	position: relative;
	margin-bottom: 59px;
	&:after {
		content: '';
		position: absolute;
		width: 56px;
		height: 2px;
		background-color: #000;
		border-radius: 5px;
		left: 0;
		bottom: -26px;
	}
	&.center {
		text-align: center;
		margin-bottom: 61px;
		&:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	@media screen and (max-width: 1180px) {
		font-size: 32px;
		margin-bottom: 50px;
		text-align: center;
		&:after {
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
		}
		&.center {
			margin-bottom: 50px;
		}
	}
}
.section_description {
	font-size: 18px;
	color: #7d7987;
	margin-bottom: 37px;
	line-height: 30px;
	&.center {
		max-width: 952px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 80px;
		text-align: center;
		@media screen and (max-width: 1180px) {
			max-width: 600px;
		}
	}
}

.body_overflow {
	overflow: hidden;
}
